.container {
  max-width: 90%;
}

#current-form {
  padding-bottom: 20px;
}

.name-item {
  width: 25%;
}

.persona-item {
  width: 55%;
}


.actions-alias-item {
  width: 20%;
}

/* #alias-pic {
  height: 300px;
} */
